{% extends 'base.html' %}

{% block content %}
  <h1>Tareas Pendientes</h1>

  {% if request.user.is_authenticated %}
    <p>Bienvenido, {{ request.user.username }}!</p>
    <p>Aquí puedes ver tus tareas pendientes.</p>
  {% else %}
    <p>Inicia sesión para acceder a tus tareas.</p>
  {% endif %}
  
  <ul>
    {% for task in tasks %}
      <li>
        <a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a>
        ({{ task.due_date }})
      </li>
    {% empty %}
      <li>No hay tareas pendientes.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'tasks:task_create' %}">Crear Nueva Tarea</a>
{% endblock %}
